.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    justify-content:center;
}

.sidebar {
    width: 100%;
    background-image: linear-gradient(180deg, rgb(10, 50, 120) 0%, rgb(150,230,250) 95%);
    color:white;
    top: 0;
}

.top-row {
    background-image: linear-gradient(0deg, rgb(226, 31, 31) 0%, rgb(250,160,160) 95%);
    color: aliceblue;
    justify-content: flex-start;
    height: 2rem;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 0.0rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row, article {
        padding-left: 0rem !important;
        padding-right: 1rem !important;
    }
}
